# =============================================
# CONFIGURACIÓN - IBuS Project
# =============================================
# 1. Copia este archivo: cp .env.example .env
# 2. Pide los datos de Supabase a tu compañera
# 3. NUNCA subas .env a GitHub
# =============================================

SECRET_KEY=ibus-clave-secreta-2025-sogamoso
DEBUG=True
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=PEDIR_A_COMPAÑERA
DB_HOST=db.qkuzjisimctotvxyrdsp.supabase.co
DB_PORT=5432
