{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Panel de Administración</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
        <a href="{% url 'lista_empresas' %}" class="btn btn-outline-primary w-100 py-3">
            Gestionar Empresas
        </a>
    </div>
    <div class="col">
        <a href="{% url 'lista_rutas' %}" class="btn btn-outline-success w-100 py-3">
            Gestionar Rutas
        </a>
    </div>
    <div class="col">
        <a href="{% url 'lista_horarios' %}" class="btn btn-outline-warning w-100 py-3">
            Gestionar Horarios
        </a>
    </div>
    <div class="col">
        <a href="{% url 'lista_barrios' %}" class="btn btn-outline-info w-100 py-3">
            Gestionar Barrios
        </a>
    </div>
    <div class="col">
        <a href="{% url 'lista_usuarios' %}" class="btn btn-outline-secondary w-100 py-3">
            Ver Usuarios
        </a>
    </div>
    <div class="col">
        <a href="{% url 'lista_detalles_rutas' %}" class="btn btn-outline-primary w-100 py-3">
            Gestionar Detalles de Rutas
        </a>
    </div>
    <div class="col">
        <a href="{% url 'ver_estadisticas' %}" class="btn btn-outline-dark w-100 py-3">
            📊 Ver Estadísticas
        </a>
    </div>
    <div class="col">
        <a href="{% url 'descargar_reporte_csv' %}" class="btn btn-outline-danger w-100 py-3">
            📥 Descargar Reporte
        </a>
    </div>
</div>
{% endblock %}