# =============================================
# CONFIGURACIÓN - IBuS Project -ejemplo
# =============================================


SECRET_KEY=ibus-clave-secreta-2025-sogamoso
DEBUG=True
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=PEDIR_A_COMPAÑERA
DB_HOST=db.qkuzjisimctotvxyrdsp.supabase.co
DB_PORT=5432
